/* すべてのページに適用される設定 */
html {
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(223, 249, 250);
    color: #001764;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
}
p, li, td {
    line-height: 1.7;
}

a:link {
    color: #0800ff;
    text-decoration: none;
}
a:visited {
    color: #0800ff;
    text-decoration: none;
}
a:hover {
    color: #0800ff;
    text-decoration: underline;
}
a:active {
    color: #0800ff;
    text-decoration: underline;
}

img {
    max-width: 100%;
}
/* すべてのページに適用 - ヘッダー */
.header {
    padding-top: 40px;
    background-image: url(../images/stripe.png);
    background-size: 20px;
    background-repeat: repeat-x;
}
.logo {
    text-align: center;
}
.nav ul {
    margin: 30px 0 0 0;
    padding: 10px;
    list-style-type: none;
    gap: 5px;

    display: flex;
    justify-content: center;
}
.nav li {
    padding: 10px;
    background-color: #ceedff;
    font-weight: bold;
}
.nav li:hover, .nav li:active {
    background-color: #65c7ff;
}
.nav a:link {
    color: #253958;
}
.nav a:visited {
    color: #253958;
}
.nav a:hover {
    text-decoration: none;
}
.nav a:active {
    text-decoration: none;
}

/* すべてのページに適用 - メイン */
main {
    margin: 90px auto;
    max-width: 1000px;
    padding: 0 4%;
}
main h2 {
    margin: 60px 0 20px 0;
    border-bottom: 2px dashed #253958;
    padding: 0 0 5px 0;
    color: #253958;
    font-size: 1.3rem;
}

/* すべてのページに適用 - フッター */
.gotop {
    text-align: center;
}

.copyright {
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #063070;
    color: #FFFFFF;
    text-align: center;
}

/* 個別のスタイル */
/* index.html */
.logo {
    width: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo-coulomb {
    width: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.info {
    border-collapse: collapse;
    width: auto;
}
.info th, .info td {
    border: 1px solid #0025a9;
    padding: 20px;
    word-break: break-all;
}
.info th {
    width: 150px;
    text-align: left;
    vertical-align: middle;
}
#small {
    font-size: small;
    color: #656565;
}

/*テスト用のページ*/
#htmlcss * {
    outline: 1px solid #FF0000;
}
#manychecks {
    gap: 0;
}
#manychecks input {
    margin: 0;
    padding: 0;
}
/*css*/
#perfectbox {
    border: 1px solid #000;
    border-radius: 5px;
    width: 140px;
    height: 60px;
    background-color: #FFF;
}
#perfectboxtext {
    margin: 0px 0px 0px 60px;
    word-break: keep-all;
}

.css {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}

.obj {
    width: 140px;
    height: 60px;
    border: 2px solid #000;
    background-color: #668ad8;
    text-align: center;
    line-height: 100px;
    color: #ceedff;
}
#csquare {
    border-radius: 10px;
}
#circle {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
#triangle {
    float: left;
    clip-path: polygon(
        0 90%,
        100% 90%,
        50% 10%
    );
    background: #668ad8;
}
#picture {
    border: 2px solid #000;
    width: 140px;
    height: 60px;
    text-align: center;
    background-image: url(../images/picture.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#pattern {
    border: 2px solid #000;
    width: 140px;
    height: 60px;
    text-align: center;
    background-image: url(../images/picture.png);
    background-size: 50px;
    background-repeat: repeat;
}
#btn {
    width: 140px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
#btn:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}


/*モバイル対応*/
@media (max-width: 767px) {
    .nav ul {
        flex-wrap: wrap;
    }
}