/* すべてのページに適用される設定 */
html {
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(223, 249, 250);
    color: #001764;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0 0 0 0;
}
p, li, td {
    line-height: 1.7;
}

a:link {
    color: #0800ff;
    text-decoration: none;
}
a:visited {
    color: #0800ff;
    text-decoration: none;
}
a:hover {
    color: #0800ff;
    text-decoration: underline;
}
a:active {
    color: #0800ff;
    text-decoration: underline;
}

img {
    max-width: 100%;
}
/* すべてのページに適用 - ヘッダー */
.header {
    padding-top: 40px;
    background-image: url(../images/stripe.png);
    background-size: 20px;
    background-repeat: repeat-x;
}
.logo {
    text-align: center;
}
.nav ul {
    margin: 30px 0 0 0;
    padding: 10px;
    list-style-type: none;
    gap: 5px;

    display: flex;
    justify-content: center;
}
.nav li {
    padding: 10px;
    background-color: #ceedff;
    font-weight: bold;
}
.nav li:hover, .nav li:active {
    background-color: #65c7ff;
}
.nav a:link {
    color: #253958;
}
.nav a:visited {
    color: #253958;
}
.nav a:hover {
    text-decoration: none;
}
.nav a:active {
    text-decoration: none;
}

/* すべてのページに適用 - メイン */
main {
    margin: 90px auto;
    max-width: 1000px;
    padding: 0 4%;
}
main h2 {
    margin: 60px 0 20px 0;
    border-bottom: 2px dashed #253958;
    padding: 0 0 5px 0;
    color: #253958;
    font-size: 1.3rem;
}

/* すべてのページに適用 - フッター */
.gotop {
    text-align: center;
}

.copyright {
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #063070;
    color: #FFFFFF;
    text-align: center;
}

/* 個別のスタイル */
/* index.html */
.logo {
    width: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.logo-coulomb {
    width: 30%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.info {
    border-collapse: collapse;
    width: auto;
    word-break: break-all;    
}
.info th, .info td {
    border: 1px solid #0025a9;
    padding: 20px
}
.info th {
    width: 150px;
    text-align: left;
    vertical-align: middle;
}
#small {
    font-size: small;
    color: #656565;
}

/*テスト用のページ*/
#htmlcss * {
    outline: 1px solid #FF0000;
}



/*モバイル対応*/
@media (max-width: 767px) {
    .nav ul {
        flex-wrap: wrap;
    }
}
