/*------------------事前ロード--------------------*/

@font-face {
    font-family: 'pmplus';
    src: url(PMplus.ttf);
}



/*------------------全ページ一律------------------*/

html{
    font-size: 20px;
    font-family: 'pmplus', sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

/*親要素内の子要素の配置指定。要注意*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

p, li, td{
    line-height: 1.7;
}

a:link{
    text-decoration: none;
    color: dodgerblue;
}

a:visited{
    text-decoration: none;
    color: fuchsia;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: blueviolet;
    text-decoration: underline;
}



/*------------------ヒーロー一律------------------*/

.hero{
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}



/*------------------ヘッダ一律--------------------*/

header{
    padding-top: 40px;
}

/*ロゴ*/
.logo{
    text-align: center;
    height: 100px;
}

.logo a:link, .logo a:active, .logo a:visited{
    text-decoration: none;
    font-size: 2px;
    transition: 0.8s;
}

.logo a:hover{
    text-decoration: none;
    font-size: 2.1px;
    transition: 0.3s;
}

/*ロゴ文字*/
#logo1{
    font-size: 50em;
    color: aqua;
}
#logo2{
    font-size: 45em;
    color: aqua;
}
#logo3{
    font-size: 40em;
    color: aqua;
}
#logo4{
    font-size: 40em;
    color: aqua;
}
#logo5{
    font-size: 45em;
    color: rgb(0, 250, 83);
}
#logo6{
    font-size: 50em;
    color: rgb(0, 250, 83);
}
#logo7{
    font-size: 55em;
    color: rgb(0, 250, 83);
}

/*ナビ(liではなくaに背景設定などを適用)*/
nav ul{
    margin: 30px 0 0 0;
    padding: 14px;
    list-style-type: none;
    gap: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(121, 121, 121);
    border-top: 2px solid rgb(91, 91, 91);
    border-bottom: 2px solid rgb(91, 91, 91);
}

nav a{
    text-align: center;
    padding: 10px;
    background-color: rgb(36, 36, 36);
    font-weight: bold;
    border: 2px solid white;
    transition: 0.5s;
}

nav a:hover, nav a:active, nav a:link, nav a:visited{
    color: white;
    text-decoration: none;
}

nav a:hover, nav a:active{
    background-color: rgb(71, 108, 255);
    transition: 0.5s;
}



/*------------------メイン一律--------------------*/

main{
    margin: 40px 0;
    padding: 0 4%;
}

main h2{
    border-bottom: 2px solid aquamarine;
    border-left: 2px solid aquamarine;
    padding: 5px;
    color: aquamarine;
    font-size: 1.3rem;
}

main h2 div{
    transition: .5s;
}

main h2 div:hover{
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
}

main .paragraph{
    margin: 40px 0;
    padding-left: 8px;
    border-left: 2px solid aquamarine;
}



/*------------------フッタ一律--------------------*/

/*上部に戻る*/
.gotop{
    text-align: center;
}

/*権利表示*/
.copyright{
    margin: 20px 0 0 0;
    padding: 40px 0 40px 0;
    background-color: rgb(88, 88, 88);
    text-align: center;
}



/*------------------index固有--------------------*/

.linktable{
    border-collapse: collapse;
    width: 100%;
}

.linktable th, .linktable td{
    border: 2px solid #FFFFFF;
    padding: 20px;
    word-break: break-all;
}

.linktable th{
    font-size: 1.3rem;
    width: 200px;
    text-align: left;
    vertical-align: middle;
}



/*------------------mahjong固有------------------*/

#mahjong{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#mahjong img{
    max-width: 100%;
}

#haipairule{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#haipairule img{
    max-width: 100%;
}

/*モバイル*/
@media(max-width: 767px){
    #mahjong{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 425px){
    #mahjong{
        grid-template-columns: 1fr;
    }
}



/*------------------desmos固有-------------------*/

#graphs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

#graphs div iframe{
    width: 100%;
    height: 300px;
    border: 1px solid white;
}

/*モバイル*/
@media(max-width: 767px){
    #graphs{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 425px){
    #graphs{
        grid-template-columns: 1fr;
    }
}



/*------------------test固有---------------------*/

#boldletter{
    font-weight: bold;
}